/* PayPal Button Container Styling */
.paypalButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Optional: Add some space at the top */
    width: 100%; /* Ensure it takes up full width */
  }
  
  button {
    background-color: #0070ba;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #005c8a;
  }  